@import "~src/styles.less";

:host {
    display: flex;
    height: 100%;
    flex-basis: 100%;
    padding: 5px;
}

.surface {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: @secondaryContainerColor;
    .rounded-corners-small();
}

.detailsPanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-basis: 100%;
    background: none;
    overflow-y: auto;
    gap: 10px;
    overflow-x: hidden;
}

.info {
    display: flex;
    flex-direction: row;
}

.downloadButton {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: @primaryContainerColor;
    .rounded-corners-small();
    border: none;
    color: @onPrimaryContainerColor;

    &:hover {
        cursor: pointer;
    }
}