<div class="surface" *ngIf="currentDevice !== undefined">
    <div class="info">
        <div [ngStyle]="{flexBasis: '100%'}">
            <h1>Устройство: {{currentDevice._id}}</h1>
            <h1>Имя пользователя: {{currentDevice.name}}</h1>
        </div>
        <button class="downloadButton" (click)="onDownload()">
            <span>
                Сохранить в JSON
            </span>
        </button>
    </div>
    <div class="detailsPanel">
        <app-detail-entry
            *ngFor="let entry of historyEntries"
            [data]="entry"
            (deleteClick)="onDeleteEntry($event)"
        ></app-detail-entry>
    </div>
</div>
