@import "~src/styles.less";

.container {
    height: 100vh;
    width: fit-content;
    max-width: 50vw;
    min-width: 30vh;
    padding: 5px;
    overflow: hidden;
}

.surface {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding: 5px;
    gap: 5px;
    background-color: @onBackgroundColor;
    .rounded-corners-small();
}